 .pageSpinner {
      -webkit-transform-style: preserve-3d;
      -webkit-transform: translateZ(0);
      -webkit-transition: opacity 10.0s linear;
      -webkit-animation-fill-mode: forwards;
      -webkit-animation-iteration-count:1;	 
      -webkit-animation-delay:0s;
      -webkit-animation-duration: 5s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-name: spin;
    }
   
      @-webkit-keyframes spin {
      from { 
      		 -webkit-transform:  rotateY(0);
      		 }
      to   { 
      		 -webkit-transform:  rotateY(360deg);
      		 }
    }
